@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500,300");

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 350;
    background-color: #f8f8f8;
}

button {
  border:solid 2px #590F20;
  border-radius:5px;
  background-color: #e7e7e7; /* Green */
  letter-spacing: 1px;
  border: none;
  margin: 3px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 12px 12px;
}

button:first-child {
    margin-left: 0;
}

button:last-child {
    margin-right: 0;
}

button:hover {
  color: rgb(255, 127, 14);
}

table {
    border-collapse: collapse;
    background-color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

li a {
    text-decoration: none;
    color: #555f66;
}
li a:hover {
    text-decoration:underline;
}

header.major {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

header p {
    color: #0a0a0a;
}

header li {
  color: #0a0a0a;
}

em a {
    color: #444;
    text-decoration: none;
}

em a:hover {
    text-decoration: underline;
}

footer {
    padding: 1em 0 1em 0;
    color: #bbb;
    font-size: 0.9em;
    text-align: center;
}

footer a {
    color: #c30704;
    text-decoration: none;
}

footer a:hover {
    color: #0a0a0a;
    text-decoration: underline;
}

text {
    pointer-events:none;
}

header #title {
    color: #721329;
}

label {
  display: inline-block;
  margin: 0 5px 20px;
}

input[type='checkbox'] {
    /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 5px;
  cursor: pointer;
}

.results {
  border-color: lime;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  padding-bottom: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: left;
}

.modal a {
    color: #721329;
}

.modal a:hover {
    text-decoration: underline;
    color: rgb(255, 127, 14);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #f8f8f8;
  margin: auto;
  padding: 30px;
  width: 60%;
  border: 1px solid #888;
  border-radius:15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px none black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.w-100 {
    width: 100%;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 50em) {
    .w-50-ns {
        width: 50%;
    }
}

.f2 {
    font-size: 2.2rem;
    color: #721329;
}

@media screen and (min-width: 40em) and (max-width: 60em) {
    .f2-m {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 60em) {
    .f-headline-l2 {
        font-size: 2.2rem;
    }
}

.f3 {
    font-size: 1.5rem;
}

@media screen and (min-width: 50em) and (max-width: 60em) {
    .f1-m {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 60em) {
    .f-headline-l {
        font-size: 1.5rem;
    }
}

.container {
  margin: 40px auto;
  width: 400px;
  text-align: center;
}

.timing {
    text-align: center;
}

.stopwatch {
  font-size: 20px;
}

.timing button {
  font-size: 16px;
  padding: 12px 23px;
}

#start {
  background: #48633B;
  color: #DAD6D6;
}

#start:hover {
    color:white
}

#start:focus {
    background: black;
    color:white
}

#stop {
  background: #721329;
  color: #DAD6D6;
}

#stop:hover {
    color:white
}

#stop:focus {
    background: black;
    color:white
}

#restart {
  background:rgb(31, 119, 180);
  color: #DAD6D6;
}

#restart:hover {
    color:white
}

#restart:active {
    background: black;
    color:white
}

#incident{
    text-align: left;
}

#incident p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 80px;
    word-wrap: break-word;
    max-width: 30em;
    line-height: 1.5;
}

/*  With slight modifications from:
 *  https://codepen.io/Thibaut/pen/ouKvy */
.timing .progress {
  width: 100%;
}

.timing .progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.timing .progress-bar {
  height: 16px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

#first:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
}

#second:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #f2b01e;
}

#three:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
}

#four:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}
